<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ static_prefix }}/main.css" type="text/css"></link>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script type="text/javascript" src="{{ tord_js_path }}"></script>
    </head>
    <body>
        <div class="container">
            <h2>Tord Examples</h2>
        </div>
        <script type="text/javascript" src="{{ static_prefix }}/main.js"></script>
    </body>
</html>
